<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.paperbooklet">

 <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Paperbooklet"
        android:theme="@style/AppTheme" >
        
 <!-- Main activity  -->   
        
        <activity
            android:name="com.paperbooklet.MainActivity"
            android:label="Paperbooklet"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.richiesoft.paperbooklet" >
        </activity>

   <!-- Splash activity  -->        

        <activity
            android:name="com.paperbooklet.Splash"
            android:label="Paperbooklet"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
