<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="richiesoft.com.magpoke">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Magpoke"
        android:theme="@style/AppTheme" >


        <!-- Main activity  -->

        <activity
            android:name="richiesoft.com.magpoke.MainActivity"
            android:label="Magpoke"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.richiesoft.magpoke" >
        </activity>

        <!-- Splash activity  -->

        <activity
            android:name="richiesoft.com.magpoke.Splash"
            android:label="Magpoke"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>